 


html{
width: 1200px;
	margin-left: auto;
	margin-right: auto;
  height:800px;
}


  body{
    height: 500px;
    background-color: white;
    text-align: center;
  margin:0px auto;
}
    
 
 div{  border: 0px solid black;
color:red;
margin-left:px;
width:1200px;
float:left 200px;
padding-left:20px; 
   margin-top:80px}



 




form {margin:1px;
background-color:white;
border: 1px solid ;
color: ghostwhite;
height:100px;

margin-right:500px;

}
input{height:45px;
width:450px;
 border-radius: 20px;
background-color:ghostwhite;
margin-top:40px;
margin-right:300px;


}

h2{color:black;
}
p{color:black;
}

footer{ width:800;
height:800px
}



header.superior{border: 5px solid black;
justify-content:space-between;
height:150px;
margin:40px;


}

div.container{border:0px solid;
height:200px;


color:gray;

}
article.container{margin-right :1100px;
border: 1px solid ;
height:300px;
width:1200px;

}
img.container{float: left;
width:420px;
height:210px;
margin:40px;
}

button{background-color:white;
border:0px;
}

div.botones{ text-align: center;
  margin:0px auto;
margin-top:center;
margin-top:right 30px;

}
