 




  body{
    height: 200px;
    background-color: white;
    text-align: center;}
    
    
   label {
    
    color:blue;}
  
button{margin:30px;
background-color:ghostwhite;
border: 0px solid;

}

 div{  border: 0px solid black;
color:red;
}
form {
background-color:white;
border: 0px solid ;
color: ghostwhite;
height:25px;
width:650px;
}
input{height:25px;
width:650px;
background-color:ghostwhite;
}

h2{color:black;
}
p{color:black;
}



