
   <style>
      {
   
} 
      
{
box-sizing:border-box;
}

body {
margin:0;
}

h1
{font-size: 3.5em;
}
ul{list-style:none;}

button{ font-size:1em;
:10em;
box-shadow: 5px-10px- rgba:(black);
}
#hero
{display: flex;
aling-items: center;
 }
 *{ 
margin:0;
padding:0;
color:violet;
}

div { border:1px solid violet;

}

      body { background-color: lightBlue;


      <h1 style="color:whister;">EnviosPet2</h1>

      </head>
      }
    </style>